<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.metawatch.manager"
      android:versionCode="1"
      android:installLocation="internalOnly" android:versionName="0.2.4.rm5">
    <uses-sdk android:minSdkVersion="7" />
    <supports-screens android:resizeable="true" android:normalScreens="true" android:anyDensity="true" android:largeScreens="true" android:smallScreens="true"></supports-screens>
    
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL"></uses-permission>
	<uses-permission android:name="android.permission.ACCOUNT_MANAGER"></uses-permission>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
	<uses-permission android:name="com.google.android.gm.permission.READ_GMAIL"></uses-permission>
	<uses-permission android:name="com.google.android.providers.talk.permission.READ_ONLY"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.BATTERY_STATS"/>
	<uses-permission android:name="com.fsck.k9.permission.READ_MESSAGES"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".MetaWatch"
                  android:configChanges="keyboardHidden|orientation"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:label="Send to Watch"
			android:name=".ImageViewer"
			android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
			<intent-filter>
				<action	android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>
		<activity 
			android:label="Send to Watch"
			android:name=".SendTextReceiver"
        	android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
       	</activity>
		<activity
			android:label="Device Selection"
			android:name=".DeviceSelection"
			android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
		</activity>
		<activity
			android:label="App Blacklist"
			android:name=".AppBlacklist"
			android:configChanges="keyboardHidden|orientation"
			android:launchMode="singleTask">
		</activity>
        <receiver android:name=".IntentReceiver" android:exported="true">
            <intent-filter>
            	<action android:name="android.provider.Telephony.SMS_RECEIVED" />  
            	<action android:name="android.intent.action.BATTERY_LOW"/>
            	<action android:name="com.android.music.metachanged" />
            	<action android:name="android.intent.action.TIME_SET"/>
            	<action android:name="android.intent.action.TIMEZONE_CHANGED" />
            	<action android:name="com.android.alarmclock.ALARM_ALERT" />
            	<action android:name="com.htc.android.worldclock.ALARM_ALERT" />
            	<action android:name="com.android.deskclock.ALARM_ALERT" />
            	<action android:name="com.sonyericsson.alarm.ALARM_ALERT" />
            	<action android:name="com.motorola.blur.alarmclock.ALARM_ALERT" />
            	<action android:name="com.motorola.blur.alarmclock.COUNT_DOWN" />
            </intent-filter>
            <intent-filter>
	            <action android:name="android.intent.action.EVENT_REMINDER" />
	            <data android:mimeType="vnd.android.cursor.item/calendar-alert" />
	        </intent-filter>
	        <intent-filter>
            	<action android:name="com.fsck.k9.intent.action.EMAIL_RECEIVED" />
                <data android:scheme="email" android:host="messages" />				            	
            </intent-filter>
            <intent-filter>
				<action
					android:name="android.intent.action.PROVIDER_CHANGED"
					android:priority="-10"
					/>
				<data
					android:scheme="content"
					android:host="gmail-ls"
					android:pathPattern="/unread/.*"
					/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.nullsoft.winamp.metachanged" />
			</intent-filter>			
			<!--
			<intent-filter>
-                <action android:name="mobi.beyondpod.action.PLAYBACK_STATUS" />
-            </intent-filter>	

			-->		
        </receiver> 
        <receiver android:name=".BootCompletedReceiver" android:exported="true">
            <intent-filter>
            	<action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
            	
        <receiver android:name=".ApiIntentReceiver"> 
            <intent-filter>
            	<action android:name="org.metawatch.manager.APPLICATION_UPDATE" />  
            	<action android:name="org.metawatch.manager.APPLICATION_START"/>
            	<action android:name="org.metawatch.manager.APPLICATION_STOP"/>
            	<action android:name="org.metawatch.manager.IDLE_BUTTONS_OVERRIDE"/>
            	<action android:name="org.metawatch.manager.NOTIFICATION"/>				            	
            </intent-filter>            
        </receiver> 
        <receiver android:name="org.metawatch.manager.AlarmReceiver"></receiver>
        <service android:name="org.metawatch.manager.MetaWatchService"></service>
	    <service android:name=".MetaWatchAccessibilityService">
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
		</service>        
        <activity android:name="Settings" 
        		  android:launchMode="singleTask">
        </activity>
        <activity android:name="org.metawatch.manager.Test" 
                  android:launchMode="singleTask">
        </activity>

    </application>

</manifest>